# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon.groupby('Legendary').count()['Name']

Legendary
False    735
True      65
Name: Name, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
leg_mn, leg_std = np.mean(pokemon[pokemon['Legendary'] == True]['Total']), np.std(pokemon[pokemon['Legendary'] == True]['Total'])
nonleg_mn, nonleg_std = np.mean(pokemon[pokemon['Legendary'] == False]['Total']), np.std(pokemon[pokemon['Legendary'] == False]['Total'])
print(f'legendary mean: {leg_mn}, non-legendary mean: {nonleg_mn}')

legendary mean: 637.3846153846154, non-legendary mean: 417.21360544217686

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:
from scipy import stats
stats.ttest_ind(pokemon[pokemon['Legendary'] == True]['Total'],pokemon[pokemon['Legendary'] == False]['Total'],equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [7]:
# Your conclusions here:
print('Total points are significantly different between legendary and non legendary pokemon')

Total points are significantly different between legendary and non legendary pokemon

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Your code here:
water_poke = pokemon[pokemon['Type 1'] == 'Water']
nonwater_poke = pokemon[pokemon['Type 1'] != 'Water']

print(f'water pokemon mean and std are {np.mean(water_poke["Total"]), np.std(water_poke["Total"])}')
print(f'non-water pokemon mean and std are {np.mean(nonwater_poke["Total"]), np.std(nonwater_poke["Total"])}')

water pokemon mean and std are (430.45535714285717, 112.681828329091)
non-water pokemon mean and std are (435.85901162790697, 121.00364762501172)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [10]:
# Your code here:

z, p = stats.ttest_ind(water_poke['Total'], nonwater_poke['Total'], equal_var=True)
z, p

(-0.4418547448849676, 0.6587140317488793)

Write your conclusion below.

In [11]:
# Your conclusions here:
print(f'as {p} > 0.05 we conclude that there are no significant differences between water and other types ok poke')

as 0.6587140317488793 > 0.05 we conclude that there are no significant differences between water and other types ok poke

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [12]:
# Your code here:
z, p = stats.ttest_rel(pokemon['Attack'],pokemon['Defense'])
z,p

(4.325566393330478, 1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [13]:
# Your conclusions here:
print(f'since {p} < 0.05 we conclude that attack and defense scores are significantly different')

since 1.7140303479358558e-05 < 0.05 we conclude that attack and defense scores are significantly different

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [14]:
# Your code here:
z, p = stats.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])
z, p

(0.853986188453353, 0.3933685997548122)

Describe the results of the test in the cell below.

In [15]:
# Your conclusions here:
print(f'since {p} > 0.05 we conclude that Sp. attack and Sp . defense scores are not significantly different')

since 0.3933685997548122 > 0.05 we conclude that Sp. attack and Sp . defense scores are not significantly different

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [23]:
# Your code here:
z, p = stats.ttest_1samp(pokemon.Attack - pokemon.Defense, popmean=0)
z, p

(4.325566393330478, 1.7140303479358558e-05)

In [24]:
print(f'since {p} < 0.05 we reject the hypothesis that the difference between means is 0')

since 1.7140303479358558e-05 < 0.05 we reject the hypothesis that the difference between means is 0

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [37]:
# Your code here:
pokemon['isWater'] = (pokemon['Type 1'] == 'Water') 
waterPokes = pd.crosstab(pokemon['Legendary'], pokemon['isWater'])
waterPokes

isWater    False  True
Legendary
False        627   108
True          61     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [48]:
# Your code here:
z, p , dof, expected = stats.chi2_contingency(waterPokes)

Based on a 95% confidence, should we reject the null hypothesis?

In [49]:
# Your answer here:
z, p

(2.9429200762850503, 0.08625467249550949)

In [50]:
print(f'as {p} > 0.05 we accept the H0 and we conclude that isLegendary and isWater are indepedent from each other')

as 0.08625467249550949 > 0.05 we accept the H0 and we conclude that isLegendary and isWater are indepedent from each other