# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [13]:
# import numpy and pandas
import numpy as np
import pandas as pd
import  scipy.stats as stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
legendarios=pokemon[pokemon.Legendary==True]
no_leg=pokemon[pokemon.Legendary==False]

In [7]:
no_leg.count()-legendarios.count()
#670 pokemons mas no legendarios que legendarios

#             670
Name          670
Type 1        670
Type 2        334
Total         670
HP            670
Attack        670
Defense       670
Sp. Atk       670
Sp. Def       670
Speed         670
Generation    670
Legendary     670
dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [11]:
# Your code here:
print(f'la media de los legendarios es: {legendarios.Total.mean()} y la std: {legendarios.Total.std()}')
print(f'la media de los no legendarios es: {no_leg.Total.mean()} y la std: {no_leg.Total.std()}')

la media de los legendarios es: 637.3846153846154 y la std: 60.93738905315346
la media de los no legendarios es: 417.21360544217686 y la std: 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [14]:
# Your code here:sta
stats.ttest_ind(legendarios.Total,no_leg.Total,equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
#Son estadisticamente diferentes ya que el p.value es menor a 0.05

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [23]:
# Your code here:
pokemon.groupby("Type 1").count()['#']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: #, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [28]:
# Your code here:
print(pokemon[pokemon["Type 1"]=="Water"].mean()/pokemon[pokemon["Type 1"]!="Water"].mean())
print(pokemon[pokemon["Type 1"]=="Water"].std()/pokemon[pokemon["Type 1"]!="Water"].std())

#             0.813583
Total         0.987602
HP            1.047385
Attack        0.929329
Defense       0.985917
Sp. Atk       1.031959
Sp. Def       0.977678
Speed         0.960821
Generation    0.840408
Legendary     0.402810
dtype: float64
#             0.897642
Total         0.934732
HP            1.091002
Attack        0.859260
Defense       0.875595
Sp. Atk       0.871971
Sp. Def       1.025999
Speed         0.769212
Generation    0.935587
Legendary     0.655308
dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [31]:
# Your code here:
stats.ttest_ind(pokemon[pokemon["Type 1"]=="Water"]["Total"],pokemon[pokemon["Type 1"]!="Water"]["Total"])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
#Como el pvalue es mayor a 0.5 No hay diferencias estadisticamente significativas

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [32]:
# Your code here:
stats.ttest_rel(pokemon.Attack,pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
#El pvalue es menor a 0.5 por lo que hay diferencias estadisticamente significativas

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [33]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [35]:
# Your code here:
stats.ttest_rel(pokemon['Sp. Atk'],pokemon["Sp. Def"])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
#No hay diferencia al ser mayor de 0.05

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [39]:
# Your code here: Exactamente igual que haciendo un ttest_rel de ambas, mismo resultado
stats.ttest_1samp(pokemon.Attack-pokemon.Defense,popmean=0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [59]:
# Your code here:
leg_agua=pd.crosstab(pokemon["Legendary"],pokemon["Type 1"]=="Water")
leg_agua

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [62]:
# Your code here:
stats.chi2_contingency(leg_agua)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:
#No, no hay diferencias estadisticamente significativas